<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body style="background: url(https://i.pinimg.com/564x/04/8f/47/048f47da844fa38f5a33152f82cdde84.jpg);   background-size: 100%; background-position: top;">
    <h1 style="text-align:  center; ">Heart Disease Predictive Classifier</h1>

    <body>

         <form name="register" style="width: 1420px; height: 60%;font-size: large; display: block; position: absolute;  ">
  <fieldset>
         <legend>Please input your medical test Information</legend>

         <label style="font-size: 22px; text-transform: capitalize ; font-weight: bolder; display: block; position: absolute; left: 20px;">Age</label>
         <br/>
         <input type="text" name="name"  placeholder="Enetr your age" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:180px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 65px; ">
             <br>
             <br/>
             <br/>
         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 20px; ">Gender</label>
         <br/>
         <select name="gender" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:190px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 145px; ">
          <option name=" female">Female</option>
          <option name=" male">Male</option>
         </select>
              <br>
            <br/>
            <br/>
         <label style="font-size: 22px; text-transform: capitalize;font-weight: bolder; display: block; position: absolute; left: 20px; ">Type of chest pain</label>
         <br/>
         <select name="Type of chest pain" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:220px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 230px; ">
          <option name="typical angina">typical angina</option>
          <option name="atypical angina">atypical angina</option>
          <option name="non-angina pain">non-angina pain</option>
          <option name="asymptomatic">asymptomatic</option>
         </select>
         <br>
         <br/>
         <br/>

         <label style="font-size: 22px; text-transform: capitalize;font-weight: bolder; display: block; position: absolute; left: 20px; ">Resting blood pressure</label>
         <br/>
         <input type="text" name="Resting blood pressure" placeholder="resting blood pressure in (mm Hg)" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:220px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 320px; " >
         <br>
         <br/>
         <br/>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 470px; top: 25px;">serum cholestrol</label>
         <br/>
         <input type="text" name="serum cholestrol" placeholder="serum cholestrol in (mg/dl) " style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:220px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 65px; left: 470px; ">
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 470px; top: 110px;">Fasting blood sugar > 120 mg/dl</label>
         <br/>
         <select name="Fasting blood sugar > 120 mg/dl" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:260px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 145px; left: 470px; ">
          <option name="yes">Yes</option>
          <option name="No">No</option>
         </select>
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 470px; top: 195px;">Resting electrocardiographic results</label>
         <br/>
         <select name="Resting electrocardiographic results" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:280px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 235px; left: 470px; ">
          <option name="Normal">Normal</option>
          <option name="Having ST-T wave abnormality"> Having ST-T wave abnormality</option>
          <option name="Showing proable or definite left venticular hypertrophy By Estes' criteiria">Showing proable or definite left venticular hypertrophy By Estes' criteiria </option>
         </select>
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 470px; top: 280px;">Maximum heart rate achieved</label>
         <br/>
         <input type="text" name="Maximum heart rate achieved" placeholder="Maximum heart rate achieved " style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:280px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 320px; left: 470px; ">
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 930px; top: 25px;">Exercise induced angina</label>
         <br/>
         <select name="Exercise induced angina" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:220px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 65px; left: 930px; ">
          <option name="yes">Yes</option>
          <option name="No">No</option>
         </select>
         <br>

         <label style="font-size: 22px; text-transform: capitalize; capitalize; font-weight: bolder; display: block; position: absolute; left: 930px; top: 110px;">ST depression induced by exercise </label>
         <br/>
         <input type="text" name="ST depression induced by exercise" placeholder="ST depression induced by exercise" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:240px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 145px; left: 930px; ">
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 930px; top: 195px;">Slope of the peak exercise ST segment </label>
         <br/>
         <select name="Slope of the peak exercise ST segment " style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:260px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 235px; left: 930px; ">
          <option name="Upsloping">Upsloping</option>
          <option name="Flat">Flat</option>
          <option name="Downsloping">Downsloping</option>
         </select>
         <br>

         <label style="font-size: 22px; text-transform: capitalize;font-weight: bolder; display: block; position: absolute; left: 930px; top: 280px;">Number of major vessels colored by flourosopy</label>
         <br/>
         <select name="Number of major vessels colored by flourosopy" style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:260px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 320px; left: 930px; ">
          <option name="zero">Zero</option>
          <option name="One">One</option>
          <option name="Two">Two</option>
          <option name="Three">Three</option>
         </select>
         <br>

         <label style="font-size: 22px; text-transform: capitalize; font-weight: bolder; display: block; position: absolute; left: 470px; top: 370px;">thal</label>
         <br/>
         <select name="thal"style="box-shadow: inset 0px 0px 10px 0px rgb(126, 124, 124); width:290px ; padding:5px; border-radius: 10px; display: block; position: absolute; top: 400px; left: 470px; " >
          <option name="3 = normal">3 = normal</option>
          <option name="6 = fixed detect">6 = fixed detect</option>
          <option name="7 = reversable detect">7 = reversable detect</option>
         </select>


         <input type="submit" value='Get Predictions' style="border-radius: 10px; color: rgb(207, 114, 207); background-color: black ; font-size: 24px; text-align: center; display: block; margin: auto; display: block; position: absolute; top: 500px; left:500px;" >
  </fieldset>
      <br/>
